* {
    box-sizing: border-box;
}

body {
    background-color: #e5e5e5;
    font-family: 'Roboto', sans-serif;
}

.website {
    margin: 0 20px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;

    text-align: center;
    color: white;
    background-color: #CF2B2B;
    box-shadow: 0 4px 10px 0 #3f3f3f;

    padding-top: 10px;
    padding-bottom: 10px;
}
header h1 {
    font-family: 'Righteous', cursive;
    font-size: 44px;

    margin-bottom: 5px;
}
header h2 {
    font-size: 18px;
    font-weight: 400;
}

h3 {
    color: #333;

    font-family: 'Righteous', cursive;
    font-size: 26px;

    margin-top: 20px;
    margin-bottom: 20px;
}

.dishes {
    margin-top: 120px;
}
.desserts {
    margin-bottom: 140px;
}

.container {
    display: flex;
    gap: 20px;

    overflow-x: scroll;
}
.dish, .drink, .dessert {
    display: block;
    min-width: 180px;
    border-radius: 9px;
    background-color: white;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, .1);
    cursor: pointer;
    text-align: center;
}
.dish img, .drink img, .dessert img {
    display: inherit;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    width: 100%;
    height: 120px;
    object-fit: cover;
}
.dish strong, .drink strong, .dessert strong {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 0 5px;

    font-size: 16px;
    font-weight: bold;
}
.dish p, .drink p, .dessert p {
    max-width: 180px;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 300;
    color: #a6a6a6;
    padding: 0 5px;
}
.dish.active, .drink.active, .dessert.active {
    border: 5px solid #32B72F;
    position: relative;
}
.dish.active img, .drink.active img, .dessert.active img {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.dish.active::after, .drink.active::after, .dessert.active::after {
    content: "✓";
    background-color: #32B72F;
    color: white;
    border-radius: 50px;
    box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, .1);

    position: absolute;
    bottom: 5px;
    right: 5px;
    padding: 3px 5px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
}
footer .btn { 
    width: 100%;
    padding: 10px 0px;
    border-radius: 50px;
    border: none;

    color: white;
    background-color: #cbcbcb;
    box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, .3);
    cursor: not-allowed;
    transition: .3s;
}

.btn.active {
    background-color: #32B72F;
    padding: 20px 0;
    cursor: pointer;
}

.btn span {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 1.8%;
    text-align: center;

    display: block;
    width: 200px;
    margin: 0 auto;
}
.check-window {
    background-color: #333;
    width: 100vh;
}
.hidden {
    display: none;
}
.check-window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(255, 255, 255, .5);
}
.check-order {
    position: inherit;
    top: 20vh;
    left: calc((100% - 336px) / 2);

    padding: 20px;
    border-radius: 9px;
    z-index: 3;

    color: white;
    background-color: #50D074;
    text-align: center;
    font-size: 22px;
}
.check-order h4 {
    font-weight: bold;
    margin-bottom: 30px;
}
.check-order button {
    display: block;
    margin: 0 auto;
    cursor: pointer;
    font-weight: bold;
}
.check-order ul {
    margin-bottom: 30px;
}
.check-order li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.final-price, .total {
    font-weight: bold;
}
.confirm {
    border: none;    
    padding: 10px 40px;
    border-radius: 50px;
    
    font-size: 22px;
    color: #50D074;
    background-color: white;
}
.cancel {
    font-size: 20px;
    line-height: 35px;

    border: none;

    background-color: transparent;
    color: white;
}